p{
  background-color: blue;  
}



#raj{
    background-color: rgb(27, 91, 69);
}
#hakhak{
background-color: black;
color: white;
}
#hukhuk{
background-color: beige;
}
#hskhsk{
background-color: aqua;
}


#deep{
    background-color: red;
}

#sar{
    background-color: yellow;
    color:aquamarine;
}